@import "naoka-solid.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[type='checkbox']:checked:hover, [type='checkbox']:checked:focus,
[type='radio']:checked:hover, [type='radio']:checked:focus,
[type='checkbox']:checked, [type='radio']:checked {
    color: rgb(48,26,75);
}

.show-participant .show-participant-hidden {
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
}

.show-participant:hover .show-participant-hidden {
    visibility: visible;
    opacity: 1;
}